<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery Add / Remove Table Rows Dynamically</title>
<style>
    form{
        margin: 20px 0;
    }
    form input, button{
        padding: 5px;
    }
    table{
        width: 100%;
        margin-bottom: 20px;
    border-collapse: collapse;
    }
    table, th, td{
        border: 1px solid #cdcdcd;
    }
    table th, table td{
        padding: 10px;
        text-align: left;
    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>


    $(document).ready(function(){
        $(".add-row").click(function(){
            var name = $("#name").val();
            var email = $("#email").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
            $("table tbody").append(markup);
        });
        
        // Find and remove selected table rows
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
              if($(this).is(":checked")){

                    if (confirm("Do you want to delete")){

                            ActiveCell=$(this).parents("tr")
                            Deleteurlid=($(this).next().val());
                            //alert(Deleteurlid)

                            var form_data = new FormData();
                            form_data.append("UploadFor","Subtitles");
                            form_data.append("url",Deleteurlid);
                                
                                //when user click on delete button then send a post data
                                $.ajax({
                                    type: 'POST',
                                    url: '/DeleteFiles',
                                    data: form_data,
                                    contentType: false,
                                    cache: false,
                                    processData: false,
                                    success: function(response) {
                                        //if success then delete rows
                                        if(response.success){
                                            
                                            ActiveCell.remove();
                                            
                                        }
                                        else{
                                            alert("something goes wrong");
                                        }


                                    }
                                })

                                //end of post block
                    }
                    else
                    {
                    return false;
                }
                    
                }
            });
        });
    });    
</script>
</head>
<body>
    <form>
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="email" placeholder="Email Address">
      <input type="button" class="add-row" value="Add Row">
    </form>
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" name="record" >
                    <input type="hidden" name="dd" value="dqjwdnkjndqw/transcript" class="urlid">
                </td>
                <td>Peter Parker</td>
                <td>peterparker@mail.com</td>

            </tr>

                <tr>
                <td>
                    <input type="checkbox" name="record" >
                    <input type="hidden" name="dd" value="jfewnfjkwnekfjwe/subtitle" class="urlid">
                </td>
                <td>rahul</td>
                <td>rahul@mail.com</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="delete-row" >Delete Row</button>
</body> 
</html>