<!DOCTYPE html> 
<html> 

<head> 
	<title>Get current URL using jQuery?</title> 
</head> 
	<script src= "https://code.jquery.com/jquery-3.3.1.min.js"> </script> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css')}}">
 
<script src="{{ url_for('static', filename='data1.js')}}" ></script>


<body> 
	<h1 style="color: green">GeeksForGeeks</h1> 
	<b>Get current URL using jQuery?</b> 
	<p id="result"></p>
	<span class="output"></span> 
	
		<table>
		    <thead>
		    <tr>
		      <th scope="col">Start time</th>
		      <th scope="col">End Time</th>
		      <th scope="col">text</th>

		    </tr>
		  </thead>

			<tbody id="car_tbody">
				
			</tbody>

		</table>


<p id="error"></p>


</body> 


</html> 
